
         </body>
         <footer class="" style="background-color: #6d283a;">
            <h6 class="mt-1 float-right d-none d-sm-block" style="color: white;">
              follow me on 
              <a href="https://www.facebook.com/profile.php?id=100007817806046" style="color: rgb(63, 136, 247); font-size: 1.5rem;" target="_blank"><i class="fab fa-facebook-square"></i></a>
              <a href="https://twitter.com/raviteja6820" style="color: rgb(83, 171, 206); font-size: 1.5rem;" target="_blank"><i class="fab fa-twitter-square"></i></a>
              <a href="https://www.instagram.com/ravi_teja_6820/" style="color: rgb(238, 180, 180); font-size: 1.5rem;" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="https://www.reddit.com/search/?q=raviteja6820" style="color: rgb(255, 0, 0); font-size: 1.5rem;" target="_blank"><i class="fab fa-reddit"></i></a>
              , made by L N S S Ravi Teja@CommonForm</h6>
          <img class="img-fluid" src="https://i.imgur.com/mrROVYe.png" style=" border-radius: 10%; height: 8vh; margin: 1vh 5px;">
        </footer>
          </body>
          <script src="/scripts/common.js"></script>
          <script>
          $(function () {
            $('[data-toggle="popover"]').popover()
          });
          </script>
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
  </html>