<% include ./partials/header.ejs %>
<div class="m-0 p-5 e27290">
<div class="container ce5072 rounded mx-auto p-2 georgia">
    <form>
        <div class="form-group">
          <input type="text" class="form-control bg-dark text-white" id="createProject" placeholder="Name of Project">
        </div>
        <div class="form-group p-1 text-white height-max border rounded bg-dark">
          <label for="exampleFormControlSelect1">Select Users</label>
          <div class="col-6 float-right">
            <label class="sr-only" for="inlineFormInputGroup">Username</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">@</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
            </div>
          </div>
          <br>
          <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
          <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
          <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
          <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
          <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
          <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
          <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
          <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
          <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
          <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
          <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
          <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
        </div>
        <div class="form-group text-white">
          <label for="summary">Summary :</label>
          <textarea class="form-control bg-dark" id="summary" rows="3"></textarea>
        </div>
        <div class="text-center">
        <input class="btn btn-dark col-6" type="submit" value="Submit">
        </div>
      </form>
</div>
</div>
<% include ./partials/footer.ejs %>